.container1{
    display:grid;
    grid-template-columns: 35% 100%;
    /*
    grid-column-gap:1em;
    grid-row-gap:1em;
    */
  }
  .container2{
    display:grid;
    grid-template-rows: 100%;
    /*
    grid-column-gap:1em;
    grid-row-gap:1em;
    */
  }