<template name="feed">
  
  <div class="text-center">
  <button type="button" class="button-primary" data-id="claim">Get free MRM!</button>
  </div>
  <hr>
  <div class="row">
    <div class="twelve columns">
      {{#each posts}}
        {{> post post=this}}
      {{/each}}
      {{#if Template.subscriptionsReady}}
        {{#unless instance.postsCount.get}}
          <div class="alert info">There are no matching posts to display</div>
        {{/unless}}
        {{#if hasMorePosts}}
          <button class="u-full-width" data-id="load-more">Load more</button>
        {{/if}}
      {{else}}
        <div class="text-center">Loading posts...</div>
      {{/if}}
    </div>
  </div>
</template>
