<template name="header">
  <header class="main-header">
    <div class="container">
      <ul>
        <li>
          <a href="/">
            <img class="logo" src="https://i.imgur.com/PZjukW7.png" alt="Miramar Logo"/>
          </a>
        </li>
        {{#if currentUser}}
          <li class="usern">
            <button data-id="username">{{user}}</button>
          </li>
          <li class="u-pull-right sign-out" >
              <button data-id="sign-out"><i class="fa fa-sign-out fa-lg"></i>Sign Out</button>
          </li>
          <li class="u-pull-right" style="background-color:steelblue;  padding: 0px 25px 0px 25px;">
              <button data-id="new-post" style="color:white; position:relative; width:45px;"><i class="fa fa-pencil fa-lg"></i>New</button>
          </li>
        {{/if}}
      </ul>
    </div>
  </header>
</template>