#modal-content {
  border-radius:0; /* remove round corners */
  text-align:center;
  margin: auto;
}

#modal-body {
  padding-top:70px;
  padding-bottom:70px;
}

#LoginButtonMM {
  top: 50%;
  padding-top:10px;
  padding-bottom:10px;
  font-size:18px;
  color:#ffffff;
  background-color:#f79220;
  border:none;
}
