<template name="index">
  <div id="overlay">
    <div class="content">
      <div class="no-web3-browser">
        <h1>You need to use a web3 compatible browser in order to use this app.</h1>
        <h3>Have a look at one of the following options:</h3>
        <h4>
          <a href="https://metamask.io/" target="_blank">-> MetaMask Extension</a>
        </h4>
        <h4>
          <a href="https://brave.com/" target="_blank">-> Brave Browser</a>
        </h4>
      </div>
      <div class="web3-not-unlocked">
        <h1>Please unlock this app to view your accounts.</h1>
      </div>
    </div>
  </div>
  <div id="modal-content">
      <div id="modal-body">
        {{#if foundWeb3}}
        <form id="login-form">
          <input type="text" name="username" placeholder="Username" minlength="3" pattern=".{3,}" title="3 characters minimum" data-id="username" required><br><br>
          <input type="submit" id="LoginButtonMM" value="Login with MetaMask" >
        </form>
        {{else}}
        <h4>
          Could not find Web3 ->
          Please install <a href="https://metamask.io/" target="_blank">MetaMask</a>
        </h4>
        {{/if}}
      </div>
  </div>
</template>
